<mat-toolbar color="primary">      
    <mat-toolbar-row>
            <button (click)="drawer.toggle()" mat-mini-fab color="primary"><mat-icon>menu</mat-icon></button>
        <button mat-button><h3>ISWADHYAY</h3></button>        
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="" autosize>
        <mat-drawer #drawer mode="side" class="w3-quarter">
          <p class="w3-center w3-large"><a routerLink="/news">News</a></p>
          <p class="w3-center w3-large"><a routerLink="/users">Users</a></p>
        </mat-drawer>      
        <div>
          <!-- <app-news></app-news> -->
          <router-outlet></router-outlet>
        </div>      
</mat-drawer-container>

         
